<div class="article-page">
    <div class="banner">
        <div class="container">
            <h1>{{ article?.article.title }}</h1>
            <app-article-meta [curSlug]="curSlug" [curUser]="curUser" [article]="article?.article"
                (setFavorite)="favoriteArticle($event)" (setFollow)="followAuthor($event)" (delArticle)="deleteArticle($event)"></app-article-meta>
        </div>
    </div>

    <div class="container page">
        <div class="row article-content">
            <div markdown ngPreserveWhitespaces class="col-md-12" [data]="article?.article.body"></div>
        </div>
        <ul class="tag-list">
            <li class="tag-default tag-pill tag-outline ng-binding ng-scope"
                *ngFor="let tag of article?.article.tagList">
                {{ tag }}
            </li>
        </ul>
        <hr />
        <div class="article-actions">
            <app-article-meta [curSlug]="curSlug" [curUser]="curUser" [article]="article?.article"
                (setFavorite)="favoriteArticle($event)" (setFollow)="followAuthor($event)" (delArticle)="deleteArticle($event)"></app-article-meta>
        </div>
    </div>
</div>

<div class="article-page">
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
            <app-comment [slug]="curSlug" [curUser]="curUser"></app-comment>
        </div>
    </div>
</div>