<div class="article-meta">
    <a [routerLink]="['/@' + article?.author?.username]"><img [src]="article.author.image" /></a>
    <div class="info">
        <a [routerLink]="['/@' + article?.author?.username]" class="author">{{article.author.username}}</a>
        <span class="date">{{article.createdAt | date}}</span>
    </div>
    <button [ngClass]="{'btn': true, 'pull-xs-right': true ,'btn-sm': true, 'btn-outline-primary': !article?.favorited, 'btn-primary': article?.favorited}" (click)="favoriteArticle(article.favorited, article.slug)">
        <i class="ion-heart"></i> {{article.favoritesCount}}
    </button>
</div>
<h1>{{article.title}}</h1>
<p>{{article.description}}</p>
<div class="row">
    <div class="col-md-6">
        <a [routerLink]="['/article', article.slug]" routerLinkActive="router-link-active" class="preview-link">
            <span>Read more...</span>
        </a>
    </div>
    <div class="col-md-6 d-flex jus-content-end">
        <ul class="tag-list">
            <li class="tag-default tag-pill tag-outline ng-binding ng-scope" *ngFor="let tag of article.tagList"
                (click)="getTag(tag)">{{tag}}</li>
        </ul>
    </div>
</div>