<div class="card" *ngFor="let comment of comments?.comments">
    <div class="card-block">
        <p class="card-text">{{ comment.body }}</p>
    </div>
    <div class="card-footer">
        <a href="" class="comment-author">
            <img [src]="comment?.author.image" class="comment-author-img" />
        </a>
        &nbsp;
        <a href="" class="comment-author">{{ comment?.author.username }}</a>
        <span class="date-posted">{{ comment?.createdAt | date: 'MMMM dd, yyyy' }}</span>
    </div>
</div>