<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <img [src]="user?.profile?.image" class="user-img" />
          <h4>{{user?.profile?.username}}</h4>
          <p>
            {{user?.profile?.bio}}
          </p>
          <button class="btn btn-sm action-btn"
            [ngClass]="{'btn-outline-secondary': !user?.profile.following, 'btn-secondary': user?.profile.following}"
            *ngIf="curUserName != user?.profile.username; else edit" (click)="followAuthor(user?.profile.following)" [disabled]="isSubmit">
            <i class="ion-plus-round"></i>
            &nbsp;
            {{ user?.profile.following ? 'Unfollow' : 'Follow' }} {{ user?.profile.username }}
          </button>
          <ng-template #edit>
            <a class="btn btn-sm btn-outline-secondary action-btn" [routerLink]="['/settings']">
              <i class="ion-gear-a"></i> Edit Profile Settings
            </a>
          </ng-template>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/@'+paramUser]" (click)="changeTab('')"
                [ngClass]="{active: currentTab == ''}">My Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['favorites']" (click)="changeTab('favorites')"
                [ngClass]="{active: currentTab == 'favorites'}">Favorited Articles</a>
            </li>
          </ul>
        </div>
        <app-sub-article [lists]="lists"></app-sub-article>
        <app-pagination [currentPage]="currentPage" [pagination]="pagination" [itemOfPage]="itemOfPage"
          (putOffset)="changePage($event)"></app-pagination>
      </div>

    </div>
  </div>

</div>