<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <img [src]="user?.profile?.image" class="user-img" />
          <h4>{{user?.profile?.username}}</h4>
          <p>
            {{user?.profile?.bio}}
          </p>
          <button class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-plus-round"></i>
            &nbsp;
            Follow Eric Simons
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active">My Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Favorited Articles</a>
            </li>
          </ul>
        </div>

        <div class="article-preview" *ngFor="let item of listArticle">
          <div class="article-meta">
            <a href=""><img [src]="item.author?.image" /></a>
            <div class="info">
              <a class="author">{{item?.author?.username}}</a>
              <span class="date">{{item.createdAt | date:'longDate'}}</span>
            </div>
            <button class="btn btn-outline-primary btn-sm pull-xs-right">
              <i class="ion-heart"></i> {{item.favoritesCount}}
            </button>
          </div>
          <a [routerLink]="['/article', item.slug]" class="preview-link">
            <h1>{{item.title}}</h1>
            <p>{{item.description}}</p>
            <span>Read more...</span>
          </a>
        </div>
        <!-- <app-pagination [currentPage]="currentPage" [pagination]="pagination" [itemOfPage]="itemOfPage" (putOffset)="changePage($event)"></app-pagination> -->

      </div>

    </div>
  </div>

</div>
