<div class="settings-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Your Settings</h1>

                <form #settings="ngForm" name="settings" (ngSubmit)="onSubmit(settings)">
                    <fieldset>
                        <mat-form-field class="mb-2 w-100">
                            <input matInput name="image" #userImg="ngModel" [(ngModel)]="user?.user.image" type="text" placeholder="URL of profile picture">
                        </mat-form-field>
                        <mat-form-field class="mb-2 w-100">
                            <input matInput name="username" #username="ngModel" [(ngModel)]="user?.user.username" type="text" placeholder="Your Name" required maxlength="20">
                            <mat-error *ngIf="username.hasError('required')">
                                username is required
                            </mat-error>
                            <mat-error *ngIf="username.hasError('maxlength')">
                                username is too long (Maximum is 20 characters)
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100 mb-2">
                            <textarea matInput name="bio" #bio="ngModel" [(ngModel)]="user?.user.bio"  rows="8" placeholder="Short bio about you"></textarea>
                        </mat-form-field>
                        <mat-form-field class="w-100 mb-2">
                            <input matInput name="email" #email="ngModel" [(ngModel)]="user?.user.email" type="text" placeholder="Email" required email>
                            <mat-error *ngIf="email.hasError('required')">
                                Email is required
                            </mat-error>
                            <mat-error *ngIf="email.hasError('email')">
                                Email is invalid
                            </mat-error>
                            <mat-error></mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100 mb-2">
                            <input matInput name="password" #password="ngModel" ngModel type="password" placeholder="Password" required minlength="8">
                            <mat-error *ngIf="password.hasError('required')">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="password.hasError('minlength')">
                                Password is at least 8 characters
                            </mat-error>
                        </mat-form-field>
                        <button class="btn btn-lg btn-primary pull-xs-right">
                            Update Settings
                        </button>
                    </fieldset>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <hr>
                <button class="btn btn-outline-danger" (click)="logOut()">Log out</button>
            </div>
        </div>
    </div>
</div>