<div class="article-meta">
    <a [routerLink]="['/@' + article?.author.username]" routerLinkActive="router-link-active" ><img [src]="article?.author.image" /></a>
    <div class="info">
        <a  [routerLink]="['/@' + article?.author.username]" class="author">{{ article?.author.username }}</a>
        <span class="date">{{ article?.createdAt | date: 'MMMM dd, yyyy' }}</span>
    </div>

    <span *ngIf="article?.author.username != curUser?.user.username; else ownAuthor">
        <button
            [ngClass]="{'btn': true, 'btn-sm': true, 'btn-outline-secondary': !article?.author.following, 'btn-secondary': article?.author.following}"
            (click)="followAuthor(!article?.author.following)">
            <i class="ion-plus-round"></i>
            &nbsp;
            {{ article?.author.following ? 'Unfollow' : 'Follow' }} {{ article?.author.username }}
        </button>
        &nbsp;&nbsp;
        <button
            [ngClass]="{'btn': true, 'btn-sm': true, 'btn-outline-primary': !article?.favorited, 'btn-primary': article?.favorited}"
            (click)="favoriteArticle(!article?.favorited)">
            <i class="ion-heart"></i>
            &nbsp;
            {{ article?.favorited ? 'UnFavorite' : 'Favorite' }} Post <span
                class="counter">({{ article?.favoritesCount }})</span>
        </button>
    </span>
    <ng-template #ownAuthor>
        <a class="btn btn-outline-secondary btn-sm" *ngIf="article" [routerLink]="['/editor', article.slug]">
            <i class="ion-edit"></i> Edit Article
        </a>

        <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle(article?.slug)">
            <i class="ion-trash-a"></i> Delete Article
        </button>
    </ng-template>
</div>