<head>
  <title>Home</title>
</head>
<div class="home-page">

  <div class="banner" *ngIf="!checkLogin">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{active: tab == 'feed'}" [ngStyle]="{display: checkLogin ? '' : 'none'}"
                (click)="changeTab('feed')">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{active: tab == 'global'}" (click)="changeTab('global')">Global Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{active: tab != 'global' && tab != 'feed'}"
                [ngStyle]="{display: tab != 'global' && tab != 'feed' ? '' : 'none'}"># {{ tab }}</a>
            </li>
          </ul>
        </div>
        <div>
          <app-loading *ngIf="loading; else loadingDone"></app-loading>
          <ng-template #loadingDone>
            <app-sub-article [lists]="lists" (selectTag)="changeTab($event)"></app-sub-article>
          </ng-template>
          <app-pagination [currentPage]="currentPage" [itemOfPage]="itemOfPage" (putOffset)="changePage($event)"
            *ngIf="showPagination" [totalCount]="articlesCount"></app-pagination>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a class="tag-pill tag-default" *ngFor="let item of tags" (click)="changeTab(item)">{{item}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<router-outlet></router-outlet>