<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{active: tab == 'feed'}" [ngStyle]="{display: checkLogin ? '' : 'none'}" (click)="changeTab('feed')">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{active: tab == 'global'}" (click)="changeTab('global')">Global Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{active: tab != 'global' && tab != 'feed'}" [ngStyle]="{display: tab != 'global' && tab != 'feed' ? '' : 'none'}">{{ tab }}</a>
            </li>
          </ul>
        </div>
        <div>
          <div class="article-preview" *ngFor="let item of lists">
            <div class="article-meta">
              <a href="profile.html"><img [src]="item.author.image" /></a>
              <div class="info">
                <a [routerLink]="['/profile']" class="author">{{item.author.username}}</a>
                <span class="date">{{item.createdAt | date}}</span>
              </div>
              <button class="btn btn-outline-primary btn-sm pull-xs-right">
                <i class="ion-heart"></i> {{item.favoritesCount}}
              </button>
            </div>
            <a [routerLink]="['/article', item.slug]" routerLinkActive="router-link-active" class="preview-link">
              <h1>{{item.title}}</h1>
              <p>{{item.description}}</p>
              <span>Read more...</span>
              <ul class="tag-list">
                <li class="tag-default tag-pill tag-outline ng-binding ng-scope" *ngFor="let item of item.tagList">
                  {{item}}
                </li>
              </ul>
            </a>
          </div>
          <!-- <ul class="pagination">
            <li *ngFor="let item of pagination; index as i" class="page-item ng-scope"
              (click)="changePage(itemOfPage*i, i)" [ngClass]="currentPage == i ? 'active' : ''" #page>
              <a class="page-link ng-binding">{{item + 1}}</a>
            </li>
          </ul> -->
          <app-pagination [currentPage]="currentPage" [pagination]="pagination" [itemOfPage]="itemOfPage" (putOffset)="changePage($event)"></app-pagination>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a class="tag-pill tag-default" *ngFor="let item of tags" (click)="changeTab(item)">{{item}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<router-outlet></router-outlet>
